* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.favorite-btn {
  background: #addced;
  border-color: #addced;
  border-width: 0;
  margin-left: 15px;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  padding: 0.2em 2em;
  font-size: 1.3em;
  list-style: none;
}

.ingredients-list li:before {
  content: '-';
}

.instructions-recipe {
  text-indent: 2em;
  padding: 0.4em 1.5em;
  text-align: justify;
  width: 100%;
  font-size: 1.3em;
}

.meal-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  margin-top: 1em;
  background: #addced;
  width: 70%;
  border-radius: 30px;
}

.share-btn {
  background-color: white;
  border: 5px;
  border-color: #031375;
  border-radius: 5px;
  color: black;
  font-size: 20px;
  margin-left: 150px;
  padding: 5px;
}

.recipe-name {
  display: flex;
  justify-content: center;
  padding-top: 0.3em;
}

.finish-btn {
  font-size: 1.6em;
  width: 100%;
  padding: 8px 16px;
}
