@keyframes shadow-pop-tr {

  0% {
    box-shadow: 0 0 #3e3e3e , 0 0 #3e3e3e , 0 0 #3e3e3e , 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }

  100% {
    box-shadow: 1px -1px #3e3e3e , 2px -2px #3e3e3e , 3px -3px #3e3e3e , 4px -4px #3e3e3e;
    transform: translateX(-8px) translateY(8px);
  }
}

.shadow-pop-tr {
  animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-box {
  background-color: #addced;
  padding: 16px;
}

.login-page {
  padding: 0.5em;
  background-color: #587b89;
  border-radius: 10px;
  color: white;
  display: block;
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
}

.login-input {
  width: 100%;
  border: 2px;
  border-color: white;
  border-radius: 8px;
  font-size: 0.6em;
  padding: 0.4em 1em;
  text-align: center;
  outline: none;
}

.login-input:focus {
  border: 4px solid rgb(245, 152, 30);
}


.title {
  font-family: Courier , monospace;
  padding-top: 20px;
}

.btn-login {
  background-color: white;
  border: 5px;
  border-color: #031375;
  border-radius: 5px;
  color: black;
  font-size: 1em;
  padding: 0.2em 0.8em;
}

.btn-login:disabled {
  background-color: rgb(204, 204, 204);
  color: #5c5c5c;
}

.teste {
  padding: 15px;
}

.login-input::placeholder {
  font-size: 1em;
}
