* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.favorite-btn {
  background: #addced;
  border-color: #addced;
  border-width: 0;
  margin-left: 15px;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  list-style: '- ';
  padding: 2em;
}

.instructions-title {
  font-weight: 700;
  font-size: 1.5em;
  padding-left: 1em;
}

.instructions-recipe {
  padding: 15px;
  text-align: justify;
  width: 380px;
}

.share-btn {
  background-color: white;
  border: 5px;
  border-color: #031375;
  border-radius: 5px;
  color: black;
  font-size: 20px;
  margin-left: 150px;
  padding: 5px;
}

.video-container {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
