* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search-form {
  text-align: center;
}

.search-form__input {
  margin-top: 1em;
  width: 100%;
  border: 2px;
  border-color: white;
  border-radius: 8px;
  font-size: 1.8em;
  height: 30px;
  text-align: center;
  outline: none;
  padding: 0.8em;
}

.search-form__input::placeholder {
  font-size: 0.7em;
}

.search-form__options {
  font-size: 1.3em;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;
}

.search-form__button {
  background-color: white;
  border: 5px;
  border-color: #031375;
  border-radius: 5px;
  color: black;
  font-size: 1.4em;
  padding: 0.2em 1.5em;
}

.search-form__button:hover,
.search-form__button:focus {
  border: 1px solid black;
}
