body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  padding: 0px 8px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  background: lightgray;
  border-bottom: 2px solid #3c555f;
  padding: 2px 18px;
  width: 100%;
  margin-bottom: 1em;
  align-items: center;
}

.header img {
  height: 50px;
}

.navFooter {
  background: lightgray;
  /* background-color: #587b89; */
  border-top: 2px solid #3c555f;
  /* border-top: 3px solid grey; */
  bottom: 0;
  left: 0;
  margin-left: 0;
  display: flex;
  justify-content: space-between;
  padding: 1px 8px;
  position: fixed;
  width: 100%;
}

.filter-container {
  justify-content: center;
  display: grid;
  list-style: none;
  width: 100%;
  padding: 0 0;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(2, 60px);
  row-gap: 6%;
  column-gap: 2%;
  margin-bottom: 1em;
}

.filter-container li {
  align-self: stretch;
}

.filterBtn {
  width: 100%;
  height: 100%;
  border: 5px;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  padding: 5px;
}

.filterBtn:hover {
  background-color: ##d3d3d3;
}

.card-recipe {
  display: flex;
  margin: 8px 16px;
  align-items: center;

}
.card-recipe a {
  height: fit-content;
  width: fit-content;
}
.card-recipe a img {
  height: 20%;
  margin-right: 20px;
}